openapi: 3.0.3
info:
  title: Zinrelo Loyalty Events Rewards API
  description: The Zinrelo Loyalty API is a REST API for building and operating loyalty and rewards programs across web, mobile, in-store, and other sales channels. It lets you enroll and manage members, award and deduct points, record purchases and returns, list rewards, and redeem points for rewards. Every request is authenticated with a partner-id and an api-key sent as HTTP headers, both provisioned to your Zinrelo account. This document models Zinrelo's publicly documented endpoints. The v1 surface is documented in the Zinrelo API reference (slate) and the v2 loyalty and loyalty-storefront surfaces are documented in the Zinrelo help center. Request and response bodies are modeled from the public documentation and examples; verify exact field names and shapes against the live reference before production use.
  version: '1.0'
  contact:
    name: Zinrelo
    url: https://www.zinrelo.com
servers:
- url: https://api.zinrelo.com
  description: Zinrelo production API
security:
- partnerId: []
  apiKey: []
tags:
- name: Rewards
  description: List and retrieve the rewards a program offers.
paths:
  /v2/loyalty/rewards:
    get:
      operationId: listRewards
      tags:
      - Rewards
      summary: List all rewards
      description: Returns a list of all rewards. By default rewards are sorted by last_modified_date with the most recently modified rewards first.
      parameters:
      - name: language
        in: query
        schema:
          type: string
        description: Store language for reward content.
      - name: sort_by
        in: query
        schema:
          type: string
        description: Sort order such as rank, -rank, or points_to_be_redeemed.
      responses:
        '200':
          description: A list of rewards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    RewardList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Reward'
        total_count:
          type: integer
    Reward:
      type: object
      properties:
        reward_id:
          type: string
        name:
          type: string
        description:
          type: string
        points_to_be_redeemed:
          type: integer
        rank:
          type: integer
        last_modified_date:
          type: string
    Error:
      type: object
      properties:
        success:
          type: boolean
        error_code:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Authentication failed - missing or invalid partner-id or api-key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    partnerId:
      type: apiKey
      in: header
      name: partner-id
      description: Your Zinrelo Partner ID, provisioned to your account.
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: Your Zinrelo API key, provisioned to your account.
